<% include ../header %>

<h1>Surveys</h1>

<% if (surveys.length) { %>
	<ul>
		<% surveys.forEach(function (survey) { %>
			<li><a href="surveys/<%=: survey.name | encodify %>"><%= survey.name %></a></li>
		<% }) %>
	</ul>
<% } %>

<% include ../footer %>