<% include header %>

<h1><%- title %></h1>

<ol>
	<li>1. Set up the survey (using the API).</li>
	<li>2. Write the survey (e.g. in an email) and link to <em>/survey_name/option_name?user=[unique user id]</em></li>
</ol>

<% include footer %>