<% include header %>

<h1><%- title %></h1>

<ol>
	<li>Set up the survey (using the API).</li>
	<li>Write the survey (e.g. in an email) and link to <strong>/survey_name/option_name?user=[unique user id]</strong></li>
	<li>See the <a href="/surveys?password=">reports</a> (password needed).</li>
</ol>

<% include footer %>